<% provide(:title, "Họa sĩ nổi tiếng")%>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Fpainting</title>
</head>
<%= render 'paintings/header' %>
<div id="inner">
  <div id="content-sidebar-wrap">
    <div class="entry">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p style="text-align: justify">Lịch sử mỹ thuật cùng với lịch sử thế giới đã trải qua các thời kì thăng trầm khác nhau. Quá trình lịch sử ấy đã sản sinh ra biết bao
              họa sĩ bậc thầy có những đóng góp vô cùng to lớn đối với kho tàng kiệt tác nghệ thuật đương đại.
              Dưới đây là bản tóm tắt thông tin về các nghệ sĩ nổi tiếng nhất mọi thời đại được sắp xếp theo trình tự thời gian:</p>
          </div>
          <div class="col-md-8">
          <table>
            <tr>
              <th>Tên</th>
              <th>Năm sinh</th>
              <th>Năm mất</th>
              <th>Quốc tịch</th>
              <th>Trường phái</th>
            </tr>
            <% @artists.each do |artist| %>
                <tr>
                  <td><%= link_to artist.name, artist_path(artist) %></td>
                  <td><%= artist.born %></td>
                  <td><%= artist.died %></td>
                  <td><%= artist.nationality %></td>
                  <td><%= artist.field %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'paintings/footer' %>
</html>