<% provide(:title, "Họa sĩ nổi tiếng")%>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Fpainting</title>
</head>
<%= render 'paintings/header' %>
<div id="inner">
  <div id="content-sidebar-wrap">
    <div class="entry">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p>Lời giới thiệu</p>
          </div>
          <div class="col-md-8">
          <table>
            <tr>
              <th>Tên</th>
              <th>Năm sinh</th>
              <th>Năm mất</th>
              <th>Quốc tịch</th>
              <th>Trường phái</th>
            </tr>
            <% @artists.each do |artist| %>
                <tr>
                  <td><%= link_to artist.name, artist_path(artist) %></td>
                  <td><%= artist.born %></td>
                  <td><%= artist.died %></td>
                  <td><%= artist.nationality %></td>
                  <td><%= artist.field %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'paintings/footer' %>
</html>