<%= render 'paintings/header' %>
<div id="inner">
  <div id="content-sidebar-wrap">
    <div class="entry">
      <div class="page-header"><%= @artist.name %></div>
      <p><%= @artist.intro.html_safe %></p>
      <div class="table"> <table class="infobox">
        <tr>
          <th colspan="2" class="title">
            <em><%= @artist.name %></em></th>
        </tr>
        <tr>
          <th>Born - Date</th>
          <td><%= @artist.born %> - <%= @artist.died %></td>
        </tr>
        <tr>
          <th>Nationality</th>
          <td><%= @artist.nationality %></td>
        </tr>
        <tr>
          <th>Field</th>
          <td><%= @artist.field %></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>
<%= render 'paintings/footer' %>