<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Born:</strong>
  <%= @artist.born %>
</p>

<p>
  <strong>Died:</strong>
  <%= @artist.died %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @artist.nationality %>
</p>

<p>
  <strong>Field:</strong>
  <%= @artist.field %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @artist.intro.html_safe %>
</p>