<% provide(:title, @artist.name)%>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Fpainting</title>
</head>
<%= render 'paintings/header' %>
<div id="inner">
  <div id="content-sidebar-wrap">
    <div class="entry">
      <div class="col-md-8"><h2><%= @artist.name %></h2>
      <p><%= @artist.intro.html_safe %></p></div>
      <div class="table"> <table class="infobox">
        <tr>
          <th colspan="2" class="title">
            <em><%= @artist.name %></em></th>
        </tr>
        <tr>
          <th>Năm sinh - mất</th>
          <td><%= @artist.born %> - <%= @artist.died %></td>
        </tr>
        <tr>
          <th>Quốc tịch</th>
          <td><%= @artist.nationality %></td>
        </tr>
        <tr>
          <th>Trường phái</th>
          <td><%= @artist.field %></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>
<%= render 'paintings/footer' %>
</html>