<%= render 'paintings/header' %>
<div id="inner">
  <div id="content-sidebar-wrap">
    <div class="entry">
      <div class="page-header"><h1><%= @painting.title %></h1></div>
      <p><%= @painting.body.html_safe %></p></div>
      <div class="table"> <table class="infobox">
        <tr>
          <th colspan="2" class="title">
            <em><%= @painting.title %></em></th>
        </tr>
        <tr>
          <td colspan="2" class="center"><%= image_tag (@painting.image), style: "width:200px" %></td>
        </tr>
        <tr>
          <th>Artist</th>
          <td><%= @painting.artist %></td>
        </tr>
        <tr>
          <th>Year</th>
          <td><%= @painting.year %></td>
        </tr>
        <tr>
          <th>Medium</th>
          <td><%= @painting.material %></td>
        </tr>
        <tr>
          <th>Location</th>
          <td><%= @painting.location %></td>
        </tr>
      </table>
      </div>
  </div>
</div>
<%= render 'paintings/footer' %>