<p>
  <strong>Title:</strong>
  <%= @painting.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @painting.artist %>
</p>

<p>
  <strong>Body:</strong>
  <%= @painting.body.html_safe %>
</p>

<p>
  <strong>Year:</strong>
  <%= @painting.year %>
</p>

<p>
  <strong>Material:</strong>
  <%= @painting.material %>
</p>

<p>
  <strong>Location:</strong>
  <%= @painting.location %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag (@painting.image), style: "width:200px" %>
</p>
<p>
  <strong>Category:</strong>
  <%= @painting.category %>
</p>

<%= link_to 'Back', paintings_path %>
<%= link_to 'Edit', edit_painting_path(@painting) %>