<% provide(:title, @painting.title)%>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Fpainting</title>
</head>
<%= render 'paintings/header' %>
<div id="inner">
  <div id="content-sidebar-wrap">
    <div class="entry">
      <div class="col-md-8"><h1><%= @painting.title %></h1>
      <p><%= @painting.body.html_safe %></p></div>
      <div class="table"> <table class="infobox">
        <tr>
          <th colspan="2" class="title">
            <em><%= @painting.title %></em></th>
        </tr>
        <tr>
          <td colspan="2" class="center"><%= image_tag (@painting.image), style: "width:200px" %></td>
        </tr>
        <tr>
          <th>Họa sĩ</th>
          <td><%= link_to @painting.artist, artist_path(@painting.artist_id) %></td>
        </tr>
        <tr>
          <th>Năm</th>
          <td><%= @painting.year %></td>
        </tr>
        <tr>
          <th>Chất liệu</th>
          <td><%= @painting.material %></td>
        </tr>
        <tr>
          <th>Địa điểm</th>
          <td><%= @painting.location %></td>
        </tr>
      </table>
      </div>
  </div>
</div>
    </div>
<%= render 'paintings/footer' %>
</html>